<div class="container">
  <h1>Contact</h1>

  <ul class="social-media">
    <li>
      <i class="bx bxl-gmail"></i>
      <a href="https://www.facebook.com/mahmudulhasanjahid.info"></a>
    </li>
    <li>
      <i class="bx bxl-facebook-circle"></i
      ><a href="mahmudulhasanjahid.info@gmail.com"></a>
    </li>

    <li>
      <i class="bx bxl-instagram"></i>
      <a href="https://www.instagram.com/mahmudul_hasan_jahid"></a>
    </li>
  </ul>

  <ul class="contact-info">
    <li>Mobile: 01786125832</li>
    <li>mahmudulhasanjahid.info@gmail.com</li>
  </ul>
</div>
