:host {
    display: block;
    background-color: var(--black);
    box-sizing: border-box;
}

:host.pc .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}